body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 /* Style for each group card */
 #addGroupForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 20px;
}

#addGroupForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

#addGroupForm input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#addGroupForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addGroupForm button[type="submit"]:hover {
  background-color: #0056b3;
}

.group-card {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for group name */
.group-name {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer; /* Make group name clickable */
}

/* Style for group messages */
.group-messages {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Style for delete button */
.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for delete button on hover */
.delete-button:hover {
  background-color: #c82333;
}
.add-group-button {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer;
  transition: background-color 0.3s; 
  margin-bottom: 20px;
}

.add-group-button:hover {
  background-color: #0056b3; 
}